<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Add Car</title>
</head>
<body>
    <div class="container profile-container">
        <h1 class="title">Add Car</h1>
        <form class="add-car-form" method="POST" action="{{ url_for('add_car', driver_id=driver_id) }}" enctype="multipart/form-data">
            <label for="make">Make:</label>
            <input type="text" name="make" required>

            <label for="model">Model:</label>
            <input type="text" name="model" required>

            <label for="year">Year:</label>
            <input type="number" name="year" required>
            
            <label for="picture">Upload Picture:</label>
            <input type="file" name="picture">

            <button type="submit" class="add-car-button">Add Car</button>
        </form>
        <a href="{{ url_for('index') }}"><button class="back-button">Back to Home</button></a>
    </div>
</body>
</html>
