
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Cars</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>List of Cars</h1>

        <ul>
            {% for driver in data %}
                <li>
                  <a href="{{ url_for('driver', driver_name=driver['id']) }}">
                     {{ driver['name'] }} - {{ driver['car'] }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>