<!-- templates/index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Race Car Tracking</title>
</head>
<body>
    <div class="container">
        <h1>Driver List</h1>
        <ul>
            {% for driver in drivers %}
                <li><a href="{{ url_for('driver_profile', driver_id=driver.id) }}">{{ driver.first_name }} {{ driver.last_name }}</a></li>
            {% endfor %}
        </ul>

        <div>
            <a href="{{ url_for('add_driver') }}"><button>Add Driver</button></a>
            <!-- Add other buttons for navigation -->
        </div>
    </div>
</body>
</html>
