<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Cars</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>List of Cars and Drivers</h1>
        
        <ul>
            {% for car, driver in data %}
                <li>{{ car }} - {{ driver }}</li>
            {% endfor %}
        </ul>
    </div>
    <a href="{{ url_for('cars') }}" class="cars-button">View Cars</a>
</body>
</html>